.kb-body-paper {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kb-body img {
  max-width: 100%;
}

.kb-cards-holder {
  padding-top: 20px !important;
}

.breadcrumbs {
  font-size: 14px !important;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: -12px !important;
}