.kb-body-paper {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 560px) {
  .kb-body-paper {
    padding-bottom: 20px;
  }
}

.kb-body-paper img {
  max-width: 100%;
}

.kb-body-paper a {
  text-decoration: underline;
}

.kb-body-lastupdate {
  margin-top: -12px !important;
  margin-right: -12px !important;
  text-align: right;
  line-height: 110% !important;
}

@media only screen and (min-width: 560px) {
  .kb-body-lastupdate {
    margin-top: 12px !important;
  }
}

.kb-cards-holder {
  padding-top: 20px !important;
}

.breadcrumbs {
  font-size: 14px !important;
  margin-top: 6px !important;
  /* border-bottom: 1px solid rgb(226, 226, 226); */
  margin-bottom: -12px !important;
}

.richtext.h {
  line-height: 110%;
}