.kb-card-container {
  width: 100%;
}

.kb-card-actionarea {
  min-height: 290px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 560px) {
  .kb-card-actionarea {
    min-height: 200px;
  }
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.card-title {
  line-height: 110% !important;
}

.card-cover {
  width: 100%;
  object-fit: cover;
  height: 140px;
}