a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* algolia search results */

.ais-Hits {
  position: relative;
}

.ais-noResult {
  position: absolute;
  margin-top: 3px;
  margin-left: 12px;
  font-weight: 600;
}

.ais-Highlight {
  display: block;
}

.ais-Highlight-highlighted {
  background-color: #fbc200;
  /* color: white; */
  font-style: normal;
}

.ais-Hits-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;
  width: 100%
}

.ais-InstantSearch__root {
  width: 100%;
}

/* knowledge paper style */

.richtext {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.richtext img {
  max-width: 100%;
}

.richtext a {
  text-decoration: underline;
}

.richtext p {
  font-size: 1em;
  /* text-align: justify; */
}

.richtext li {
  font-size: 1em;
  margin-bottom: 8px;
}

.richtext h1, .richtext h2, .richtext h3, .richtext h4, .richtext h5, .richtext h6 {
  line-height: 110%;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 16px;
}

.richtext h1 {
  font-size: 1.4em;
}

.richtext h2 {
  font-size: 1.3em;
}

.richtext h3 {
  font-size: 1.25em;
}

.richtext h4 {
  font-size: 1.2em;
}

.richtext h5 {
  font-size: 1.15em;
}

.richtext h6 {
  font-size: 1.1em;
}

@media only screen and (max-width: 560px) {
  .richtext {
    font-size: 15px;
  }
}